In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw_jobs.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2236 entries, 0 to 2235
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2236 non-null   int64
 1   title              2236 non-null   object
 2   source_url         2236 non-null   object
 3   posting_url        2236 non-null   object
 4   geolocalization    2236 non-null   object
 5   company            2236 non-null   object
 6   salary             1148 non-null   object
 7   experience         288 non-null    object
 8   work_schedule      1990 non-null   object
 9   shift_type         0 non-null      float64
 10  employment_type    1439 non-null   object
 11  slots_avaliable    0 non-null      float64
 12  urgency_required   2236 non-null   bool
 13  seniority_level    0 non-null      float64
 14  driving_level      0 non-null      float64
 15  job_site           2236 non-null   object
 16  description        2027 non-null   object
 17  requisites         898 non-null    object
 18  pills              2027 non-null   object
 19  inclusive_posting  2236 non-null   bool
 20  published_date     2236 non-null   object
 21  closing_date       288 non-null    object
 22  scanned_date       2236 non-null   object
 23  normalized_date    0 non-null      float64
 24  detailed_scan      2236 non-null   bool
 25  filtered_posting   2236 non-null   bool
dtypes: bool(4), float64(5), int64(1), object(16)
memory usage: 393.2+ KB

In [16]:
df[['scanned_date']]

                          scanned_date
0     2024-04-26 18:11:20.089737+00:00
1     2024-04-26 18:10:33.996453+00:00
2     2024-04-26 18:10:34.119754+00:00
3     2024-04-26 18:10:34.240563+00:00
4     2024-04-26 18:10:34.755135+00:00
...                                ...
2231  2024-05-02 22:22:22.698308+00:00
2232  2024-05-02 22:22:22.782372+00:00
2233  2024-05-02 23:41:35.425949+00:00
2234  2024-05-02 23:41:44.162840+00:00
2235  2024-05-03 10:02:33.626573+00:00

[2236 rows x 1 columns]

In [20]:
pd.to_datetime(df['scanned_date'])

0      2024-04-26 18:11:20.089737+00:00
1      2024-04-26 18:10:33.996453+00:00
2      2024-04-26 18:10:34.119754+00:00
3      2024-04-26 18:10:34.240563+00:00
4      2024-04-26 18:10:34.755135+00:00
                     ...
2231   2024-05-02 22:22:22.698308+00:00
2232   2024-05-02 22:22:22.782372+00:00
2233   2024-05-02 23:41:35.425949+00:00
2234   2024-05-02 23:41:44.162840+00:00
2235   2024-05-03 10:02:33.626573+00:00
Name: scanned_date, Length: 2236, dtype: datetime64[ns, UTC]